/******************TAG SELECTOR******************/


body {
    background-color: #FEF9A7;
}

h1{
    color: #D61C4E;
    font-size: 60px;
}

p {
    color: #cc4400;
}

/*
img {
    background-color: ffaa80;
}
*/

/******************CLASS SELECTOR******************/

.egg_img{
    background-color: #F77E21;
}

.bacon_img{
    background-color: #FAC213;
}

.circular{
    border-radius: 15%;
}

.heading{
    color: #FF9A8C;
}

.bacon{
    font-size: 20px;
}

.egg{
    font-size: 17px;
}

/******************ID SELECTOR******************/
/*
#heading{
    color: ffe099;
}
*/

#smaller{
    font-size: 50px;
}

#bigger{
    font-size: 75px;
}